{% extends 'base.html' %}
{% block body %}
<div class = 'base'>
  <center><h3> Our data summary </h3></center>
  <h5> Dataset: </h5>
  <p>
    The data contains summarized Google searches related to health symptoms (dizziness, insomnia, loss of hearing, etc.).
    Roughly 400 search terms available in the United States by state and zip code, along with less-granular data for a handful of other
    countries. The data is available daily, and was maintained from January 1st 2020 through September 15th, 2022. The values are
    provided as a de-identified relative index. 
    
    Date and location are provided as rows, search terms are provided as columns. The csv dataset size is roughly 2E6 X 400, or 1.9 GB.
    This date range is available for download in the csv provided below. 
    
    <br><br>

    Dataset URL: 
    https://health.google.com/covid-19/open-data/raw-data
  </p>

</div>

{% endblock %}