{% extends 'base.html' %}
{% block body %}

<div class = 'base'>
  <center><h3> Meet the team </h3></center>
  <h5> Jeff Shen (team lead) </h5>
  <p>
    I'm in my fourth semester of the Master's in Data Science program. For this project, I enjoyed making a lot of the front-end 
    with the python Flask library. 
  </p>
  <h5> Dustin Frey </h5>
  <p>
    I am a senior security engineer at a cybersecurity company and in the final semester of the the data science certificate program.
    I've utilized skills learned in the program day-to-day to deliver advanced detection measures and analytical analysis
    of the threat landscape.
  </p>
  <h5> Dylan Moore </h5>
  <p>
    I am a second semester MSDS student. My emphasis for this project is in exploratory data analysis, data preparation,
    and data visualization.
  </p>
</div>

{% endblock %}